.title {
    text-align: center;
    font-weight: lighter;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-size: 1.32rem;
}

.homeHero {
    max-height: 305px;
    width: auto;
    height: auto;
    border-radius: 7px;
}

.overviewHero {
    max-height: 305px;
    width: auto;
    height: auto;
    border-radius: 7px;
    margin-bottom: 2.5rem;
}

.featured {
    margin: 75px 0px 25px;
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1.32rem;
}

hr {

    margin-bottom: 3.45rem;
    background-color: whitesmoke
}

.art-tiles {
    display: flex;
    justify-content: space-around;
    margin-bottom: 45px;

}

.art-tiles-overview {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
    margin-bottom: 45px
}

.description p {
    margin-top: 0px;
    margin-bottom: 35px;
}


.properties {
    margin-bottom: 25px;
}

.properties p {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 8px;
    font-size: 0.9rem;
    text-align: left;

}

.pictureContainer {
    display: flex;
    justify-content: center;
    margin: 50px 50px 65px
}

.artHero {
    max-width: 800px;
    width: auto;
    height: auto;
}

.artistName {
    margin-top: 0px;
}

.contact{
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1.32rem;
    margin-bottom: 3rem;
}

.form {
   text-align: center;
}
.form label {
    display: block;
    margin-top: 6px;
    font-size: 0.9rem;
}

.form input,
.form textarea {
    width: 35%;
    padding: 4px;
    border: none;
    background-color: lightgrey;
    color: black
}

.form textarea {
    min-height: 100px;
    width:35%;
    font-family: Optima;
}

.form button {
    display: block;
    background-color: dimgrey;
    color: whitesmoke;
    font-size: 0.74rem;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 5px 10px;
    text-transform: uppercase;
    margin:10px auto 40px
}

.form button:hover {
    box-shadow: 1px 1px  rgba(245, 245, 245, 0.6)
}