.title{
    text-align: center;
    font-weight: lighter;
    text-transform:uppercase;
    margin-bottom: 25px;
    font-size: 1.32rem;
}
.homeHero {
    max-height: 350px;
    width: auto;
    height: auto;
    border-radius: 8px;
}

.featured {
    margin: 90px 0px 25px;
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1.32rem;
}

hr {

    margin-bottom: 3.2rem;
    height: 0.5px;
    background-color: whitesmoke
}

.art-tiles {
    display: flex;
    justify-content: space-around;

}

.art-tiles-overview {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:3rem
}