.title {
    text-align: center;
    font-weight: lighter;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-size: 1.32rem;
}

.homeHero {
    max-height: 305px;
    width: auto;
    height: auto;
    border-radius: 7px;
}

.overviewHero {
    max-height: 305px;
    width: auto;
    height: auto;
    border-radius: 7px;
    margin-bottom: 2.5rem;
}

.featured {
    margin: 75px 0px 25px;
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1.32rem;
}

hr {

    margin-bottom: 3.45rem;
    background-color: whitesmoke
}

.art-tiles {
    display: flex;
    justify-content: space-around;
    margin-bottom: 45px;

}

.art-tiles-overview {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
    margin-bottom: 45px
}

.description p {
    margin-top: 0px;
    margin-bottom: 35px;
}


.properties {
    margin-bottom: 25px;
}

.properties p {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 8px;
    font-size: 0.9rem;
    text-align: left;

}

.pictureContainer {
    display: flex;
    justify-content: center;
    margin: 50px 50px 65px
}

.artHero {
    max-width: 800px;
    width: auto;
    height: auto;

}

.artistName {
    margin-top: 0px;
}