.wrapper {
    width: 27%;
    height: auto;
    max-width: 350px;
    text-decoration: none;
    color: whitesmoke;
    text-transform: uppercase;
}

.wrapper p {
    text-align: center;
    font-size: 0.87rem;
    margin: 10px 0px;
    border: 1px solid grey;
    border-radius: 3px;  
}

.wrapper:hover p {
   box-shadow: 1px 1px  rgba(245, 245, 245, 0.6) 
}

.foto {
    border-radius: 8px;
}