.wrapper {
    width: 30%;
    height: auto;
    max-width: 350px;
    text-decoration: none;
    color: whitesmoke;
    text-transform:uppercase;
  
  
}

.wrapper p {
    text-align: center;
    font-size: 0.85rem;
    margin: 10px 0px;


}

.wrapper:hover p {
    text-shadow: 1px 1px 5px blueviolet
}

.foto {
    border-radius: 9px;
}