html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em optima, sans-serif, georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
  background-color: dimgrey;
}

body {
  overflow: hidden;
  margin: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: whitesmoke;
  font-family: Optima, sans-serif, georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";

}

p {
  margin-top: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 90%;
  max-width: 1080px;
  margin: auto;
  font-family: Optima, sans-serif;
  font-style: normal;

}

.nav {
  display: flex;
}

.nav-links {
  display: flex;
  gap: 1.3rem;
  align-items: center;
  padding: 0;
  list-style: none;
  justify-content: flex-end;
}

.nav-link-item {
  padding: 0 10px
}

.nav-link-text {
  color: whitesmoke;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}

.nav-link-text:hover {

  text-shadow: 1px 1px 6px steelblue
}

.site-title {
  position: relative;
  display: flex;
  align-items: center;
  height: 90px;
  flex-shrink: 0;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-right: auto;
}

.footer {
  margin-top: 0px;
  margin-right: 8px;
  margin-bottom: 10px
}

.footer p {
  text-align: end;
  font-size: 0.95rem;
}